.service {
  background-color: var(--extra-light);
}

.service__container.section__header {
  max-width: 750px;
  margin-inline: auto;
}

.service__grid {
  margin-block: 4rem;
  display: grid;
  gap: 1rem;
}